<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>

    <add name="AutomaticExportEntities" connectionString="Data Source = 120.79.209.59; Initial Catalog = cccc; User ID = root; Password = 147369;Character Set=utf8;" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>

</configuration>