<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--南宫账号密码-->
    <add key="NGAccountAndPwd" value="18482015125|yanghao1996" />
    <!--以竖杠隔开-->
    <!--自动下注显示的日志保留条数-->
    <add key="LogNumber" value="100" />
    <!--是否正式投注-->
    <add key="IsTrueBet" value="false" />
    <!--模拟真实投注开始期号-->
    <add key="BeginNumber" value="2399499" />
    <!--<add key="beijingTime" value="300000" />  北京获取数据的时间间隔
    <add key="jianadaTime" value="210000" /> 加拿大获取数据的时间间隔
    
    填写小时分钟注意分号必须是小写  如： 20:00
    <add key="beijingBeginDormancyTime" value="23:56"/>  北京休眠开始时间
    <add key="beijingEndDormancyTime" value="544"/>  北京休眠多少分钟
    <add key="jianadaBeginDormancyTime" value="20:00"/>加拿大休眠开始时间
    <add key="jianadaEndDormancyTime" value="21:00"/> 加拿大休眠结束时间-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>